In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgbt
from sklearn import preprocessing

path_train = './dataset/train.csv'
path_test = './dataset/test.csv'
house_data = pd.read_csv(path_train)
house_test = pd.read_csv(path_test)

In [2]:
house_data.head()

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score
0,0x21e3,Apartment,106,NaN,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86,71.98
1,0x68d4,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55,71.20
2,0x7d81,Apartment,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81,71.39
3,0x7a57,Apartment,900,3.0,2,Unfurnished,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,100.0,1.34,31.46
4,0x9409,Bungalow,2238,14.0,6,Fully Furnished,0.0,No,All time,5.46,Well below average,Medium,116.0,4.77,93.70

In [3]:
house_test.head()

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,0x6e93,Apartment,293,3.0,1,Unfurnished,0.0,No,Once in a day - Morning,7.28,Well above average,Medium,152.0,2.52
1,0x8787,Apartment,586,4.0,1,Semi_Furnished,0.0,No,Once in a day - Evening,7.63,Well below average,Medium,92.0,4.16
2,0x6c17,Container Home,305,1.0,2,Semi_Furnished,1.0,No,All time,5.39,Slightly above average,Medium,90.0,2.92
3,0x9dbd,Apartment,258,2.0,1,Semi_Furnished,1.0,No,All time,7.53,Slightly below average,Medium,158.0,3.45
4,0xbfde,Bungalow,3031,12.0,4,Fully Furnished,0.0,No,All time,8.79,Well above average,High,186.0,2.72

In [4]:
house_data['w/d'] = house_data['Number_of_Windows']/house_data['Number_of_Doors']

In [5]:
house_data.describe()

,Property_Area,Number_of_Windows,Number_of_Doors,Frequency_of_Powercuts,Traffic_Density_Score,Air_Quality_Index,Neighborhood_Review,Habitability_score,w/d
count,39499.000000,37845.000000,39499.000000,38116.000000,39499.000000,39499.000000,39499.000000,39499.000000,37845.000000
mean,1391.715638,3.923768,2.331375,0.484678,6.354772,121.352566,3.735945,73.482297,1.982409
std,1953.287544,2.690992,1.179964,0.752207,1.219681,62.384669,0.796843,14.118753,1.433053
min,100.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,7.280000,0.000000
25%,494.000000,2.000000,1.000000,0.000000,5.600000,95.000000,3.220000,69.660000,1.000000
50%,932.000000,4.000000,2.000000,0.000000,6.470000,113.000000,3.850000,75.760000,1.500000
75%,1770.000000,5.000000,3.000000,1.000000,7.220000,140.000000,4.260000,82.260000,2.500000
max,28064.000000,15.000000,6.000000,3.000000,9.910000,1044.000000,5.000000,100.000000,7.500000

In [6]:
house_data[house_data['Property_Type'] == 'Apartment'].describe()

,Property_Area,Number_of_Windows,Number_of_Doors,Frequency_of_Powercuts,Traffic_Density_Score,Air_Quality_Index,Neighborhood_Review,Habitability_score,w/d
count,14596.000000,13965.000000,14596.000000,14086.000000,14596.000000,14596.000000,14596.000000,14596.000000,13965.000000
mean,744.753152,2.503473,1.996026,0.487789,6.354620,121.510071,3.726017,71.729413,1.527712
std,1756.012011,1.120148,0.819920,0.750879,1.210144,62.292796,0.796425,15.146432,1.027524
min,100.000000,1.000000,1.000000,0.000000,0.180000,0.000000,0.000000,7.280000,0.333333
25%,324.000000,1.000000,1.000000,0.000000,5.590000,95.000000,3.220000,67.840000,1.000000
50%,554.000000,3.000000,2.000000,0.000000,6.460000,113.000000,3.850000,74.715000,1.333333
75%,783.000000,4.000000,3.000000,1.000000,7.210000,141.000000,4.190000,81.280000,2.000000
max,28064.000000,4.000000,3.000000,3.000000,9.750000,1044.000000,5.000000,98.180000,4.000000

In [7]:
house_test.describe()

,Property_Area,Number_of_Windows,Number_of_Doors,Frequency_of_Powercuts,Traffic_Density_Score,Air_Quality_Index,Neighborhood_Review
count,10500.000000,10055.000000,10500.000000,10134.000000,10500.000000,10500.000000,10500.000000
mean,1364.333333,3.897563,2.326571,0.484409,6.361525,120.532571,3.734125
std,1813.702032,2.690162,1.175324,0.749686,1.216237,55.635990,0.793325
min,100.000000,0.000000,1.000000,0.000000,0.020000,0.000000,0.020000
25%,505.000000,2.000000,1.000000,0.000000,5.620000,95.000000,3.230000
50%,935.500000,3.000000,2.000000,0.000000,6.470000,113.000000,3.850000
75%,1758.000000,5.000000,3.000000,1.000000,7.220000,140.000000,4.220000
max,27477.000000,15.000000,6.000000,3.000000,9.430000,1031.000000,5.000000

In [8]:
house_data.isna().sum()

Property_ID                  0
Property_Type                0
Property_Area                0
Number_of_Windows         1654
Number_of_Doors              0
Furnishing                1042
Frequency_of_Powercuts    1383
Power_Backup                 0
Water_Supply                 0
Traffic_Density_Score        0
Crime_Rate                 787
Dust_and_Noise            1219
Air_Quality_Index            0
Neighborhood_Review          0
Habitability_score           0
w/d                       1654
dtype: int64

In [9]:
house_test.isna().sum()

Property_ID                 0
Property_Type               0
Property_Area               0
Number_of_Windows         445
Number_of_Doors             0
Furnishing                257
Frequency_of_Powercuts    366
Power_Backup                0
Water_Supply                0
Traffic_Density_Score       0
Crime_Rate                212
Dust_and_Noise            330
Air_Quality_Index           0
Neighborhood_Review         0
dtype: int64

In [10]:
del house_data['Crime_Rate']
del house_test['Crime_Rate']

In [11]:
house_data = house_data.dropna()

In [12]:
house_data.isna().sum()

Property_ID               0
Property_Type             0
Property_Area             0
Number_of_Windows         0
Number_of_Doors           0
Furnishing                0
Frequency_of_Powercuts    0
Power_Backup              0
Water_Supply              0
Traffic_Density_Score     0
Dust_and_Noise            0
Air_Quality_Index         0
Neighborhood_Review       0
Habitability_score        0
w/d                       0
dtype: int64

In [13]:
house_data['Air_Quality_Index'].mask(house_data['Air_Quality_Index'] > 500, 113.000000, inplace=True)

In [14]:
house_test['Air_Quality_Index'].mask(house_test['Air_Quality_Index'] > 500, 113.000000, inplace=True)

In [15]:
house_data['Property_Type'] = house_data['Property_Type'].replace('#R%$G&867', 'Apartment')
house_test['Property_Type'] = house_test['Property_Type'].replace('#R%$G&867', 'Apartment')

In [16]:
house_test.groupby(['Property_Type'])['Number_of_Windows'].describe()

                     count      mean       std  min  25%  50%   75%   max
Property_Type
Apartment           3823.0  2.524457  1.216004  0.0  1.0  2.0   4.0  14.0
Bungalow            1061.0  9.403393  3.465102  4.0  6.0  9.0  12.0  15.0
Container Home       746.0  1.583110  1.098716  0.0  1.0  2.0   3.0   3.0
Duplex              1454.0  5.577029  1.112673  4.0  5.0  6.0   7.0   7.0
Single-family home  2971.0  3.457422  1.106967  2.0  2.0  3.0   4.0   5.0

In [17]:
releIndex = house_test[(house_test['Number_of_Windows'].isna()) & (house_test['Property_Type'] == 'Apartment')].index
house_test.loc[releIndex,['Number_of_Windows']] = 2.0

In [18]:
releIndex = house_test[(house_test['Number_of_Windows'].isna()) & (house_test['Property_Type'] == 'Bungalow')].index
house_test.loc[releIndex,['Number_of_Windows']] = 9.0

In [19]:
releIndex = house_test[(house_test['Number_of_Windows'].isna()) & (house_test['Property_Type'] == 'Container Home')].index
house_test.loc[releIndex,['Number_of_Windows']] = 2.0

In [20]:
releIndex = house_test[(house_test['Number_of_Windows'].isna()) & (house_test['Property_Type'] == 'Duplex')].index
house_test.loc[releIndex,['Number_of_Windows']] = 6.0

In [21]:
releIndex = house_test[(house_test['Number_of_Windows'].isna()) & (house_test['Property_Type'] == 'Single-family home')].index
house_test.loc[releIndex,['Number_of_Windows']] = 3.0

In [22]:
house_data.groupby(['Property_Type'])['Number_of_Windows'].describe()

                      count      mean       std  min  25%  50%   75%   max
Property_Type
Apartment           13176.0  2.543944  1.220898  0.0  2.0  3.0   4.0  15.0
Bungalow             3713.0  9.368435  3.439517  4.0  6.0  9.0  12.0  15.0
Container Home       2509.0  1.524512  1.130931  0.0  1.0  2.0   3.0   3.0
Duplex               5044.0  5.487906  1.115060  4.0  4.0  5.0   6.0   7.0
Single-family home  10023.0  3.529682  1.119970  2.0  3.0  4.0   5.0   5.0

In [23]:
releIndex = house_data[(house_data['Number_of_Windows'].isna()) & (house_data['Property_Type'] == 'Apartment')].index
house_data.loc[releIndex,['Number_of_Windows']] = 3.0

releIndex = house_data[(house_data['Number_of_Windows'].isna()) & (house_data['Property_Type'] == 'Bungalow')].index
house_data.loc[releIndex,['Number_of_Windows']] = 9.0

releIndex = house_data[(house_data['Number_of_Windows'].isna()) & (house_data['Property_Type'] == 'Container Home')].index
house_data.loc[releIndex,['Number_of_Windows']] = 2.0

releIndex = house_data[(house_data['Number_of_Windows'].isna()) & (house_data['Property_Type'] == 'Duplex')].index
house_data.loc[releIndex,['Number_of_Windows']] = 5.0

releIndex = house_data[(house_data['Number_of_Windows'].isna()) & (house_data['Property_Type'] == 'Single-family home')].index
house_data.loc[releIndex,['Number_of_Windows']] = 4.0

In [24]:
house_test['Furnishing'] = house_test['Furnishing'].fillna('Semi_Furnished')
house_data['Furnishing'] = house_data['Furnishing'].fillna('Semi_Furnished')

In [25]:
house_test['Frequency_of_Powercuts'] = house_test['Frequency_of_Powercuts'].fillna(0.000000)
house_data['Frequency_of_Powercuts'] = house_data['Frequency_of_Powercuts'].fillna(0.000000)

In [26]:
# house_test.groupby(['Crime_Rate'])['Neighborhood_Review'].describe()

In [27]:
# releIndex = house_test[(house_test['Crime_Rate'].isna()) & (house_test['Neighborhood_Review'] >= 3.885)].index
# house_test.loc[releIndex,['Crime_Rate']] = 'Well below average'

In [28]:
# releIndex = house_test[(house_test['Crime_Rate'].isna()) & (house_test['Neighborhood_Review'] < 3.885) & (house_test['Neighborhood_Review'] >= 3.26)].index
# house_test.loc[releIndex, ['Crime_Rate']] = 'Slightly below average'

In [29]:
# releIndex = house_test[(house_test['Crime_Rate'].isna()) & (house_test['Neighborhood_Review'] < 3.26) & (house_test['Neighborhood_Review'] >= 2.61)].index
# house_test.loc[releIndex, ['Crime_Rate']] = 'Slightly above average'

In [30]:
# releIndex = house_test[(house_test['Crime_Rate'].isna()) & (house_test['Neighborhood_Review'] < 2.61)].index
# house_test.loc[releIndex, ['Crime_Rate']] = 'Well above average'

In [31]:
# house_data.groupby(['Crime_Rate'])['Neighborhood_Review'].describe()

In [32]:
# releIndex = house_data[(house_data['Crime_Rate'].isna()) & (house_data['Neighborhood_Review'] >= 3.885)].index
# house_data.loc[releIndex,['Crime_Rate']] = 'Well below average'

# releIndex = house_data[(house_data['Crime_Rate'].isna()) & (house_data['Neighborhood_Review'] < 3.885) & (house_data['Neighborhood_Review'] >= 3.26)].index
# house_data.loc[releIndex, ['Crime_Rate']] = 'Slightly below average'

# releIndex = house_data[(house_data['Crime_Rate'].isna()) & (house_data['Neighborhood_Review'] < 3.26) & (house_data['Neighborhood_Review'] >= 2.61)].index
# house_data.loc[releIndex, ['Crime_Rate']] = 'Slightly above average'

# releIndex = house_data[(house_data['Crime_Rate'].isna()) & (house_data['Neighborhood_Review'] < 2.61)].index
# house_data.loc[releIndex, ['Crime_Rate']] = 'Well above average'

In [33]:
house_test['Dust_and_Noise'] = house_test['Dust_and_Noise'].fillna('Medium')
house_data['Dust_and_Noise'] = house_data['Dust_and_Noise'].fillna('Medium')

In [34]:
house_test.isna().sum()

Property_ID               0
Property_Type             0
Property_Area             0
Number_of_Windows         0
Number_of_Doors           0
Furnishing                0
Frequency_of_Powercuts    0
Power_Backup              0
Water_Supply              0
Traffic_Density_Score     0
Dust_and_Noise            0
Air_Quality_Index         0
Neighborhood_Review       0
dtype: int64

In [35]:
house_data.isna().sum()

Property_ID               0
Property_Type             0
Property_Area             0
Number_of_Windows         0
Number_of_Doors           0
Furnishing                0
Frequency_of_Powercuts    0
Power_Backup              0
Water_Supply              0
Traffic_Density_Score     0
Dust_and_Noise            0
Air_Quality_Index         0
Neighborhood_Review       0
Habitability_score        0
w/d                       0
dtype: int64

In [36]:
# house_data[house_data['Crime_Rate'].isna()]['Neighborhood_Review'].describe()

# Encoding and deleting

In [37]:
house_data.columns

Index(['Property_ID', 'Property_Type', 'Property_Area', 'Number_of_Windows',
       'Number_of_Doors', 'Furnishing', 'Frequency_of_Powercuts',
       'Power_Backup', 'Water_Supply', 'Traffic_Density_Score',
       'Dust_and_Noise', 'Air_Quality_Index', 'Neighborhood_Review',
       'Habitability_score', 'w/d'],
      dtype='object')

In [38]:
house_test.columns

Index(['Property_ID', 'Property_Type', 'Property_Area', 'Number_of_Windows',
       'Number_of_Doors', 'Furnishing', 'Frequency_of_Powercuts',
       'Power_Backup', 'Water_Supply', 'Traffic_Density_Score',
       'Dust_and_Noise', 'Air_Quality_Index', 'Neighborhood_Review'],
      dtype='object')

In [39]:
del house_data['Property_ID']

In [40]:
house_data.columns

Index(['Property_Type', 'Property_Area', 'Number_of_Windows',
       'Number_of_Doors', 'Furnishing', 'Frequency_of_Powercuts',
       'Power_Backup', 'Water_Supply', 'Traffic_Density_Score',
       'Dust_and_Noise', 'Air_Quality_Index', 'Neighborhood_Review',
       'Habitability_score', 'w/d'],
      dtype='object')

In [41]:
le = preprocessing.LabelEncoder()

In [42]:
le.fit(house_data['Property_Type'])
house_data['Property_Type']=le.transform(house_data['Property_Type'])
house_test['Property_Type']=le.transform(house_test['Property_Type'])

In [43]:
le.fit(house_data['Furnishing'])
house_data['Furnishing']=le.transform(house_data['Furnishing'])
house_test['Furnishing']=le.transform(house_test['Furnishing'])

In [44]:
le.fit(house_data['Power_Backup'])
house_data['Power_Backup']=le.transform(house_data['Power_Backup'])
house_test['Power_Backup']=le.transform(house_test['Power_Backup'])

In [45]:
le.fit(house_data['Water_Supply'])
house_data['Water_Supply']=le.transform(house_data['Water_Supply'])
house_test['Water_Supply']=le.transform(house_test['Water_Supply'])

In [46]:
# le.fit(house_data['Crime_Rate'])
# house_data['Crime_Rate']=le.transform(house_data['Crime_Rate'])
# house_test['Crime_Rate']=le.transform(house_test['Crime_Rate'])

In [47]:
le.fit(house_data['Dust_and_Noise'])
house_data['Dust_and_Noise']=le.transform(house_data['Dust_and_Noise'])
house_test['Dust_and_Noise']=le.transform(house_test['Dust_and_Noise'])

# Review

In [48]:
house_data.head()

,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score,w/d
1,0,733,2.0,2,2,1.0,1,2,4.37,2,96.0,3.55,71.20,1.000000
2,0,737,4.0,2,0,0.0,1,3,7.45,2,121.0,3.81,71.39,2.000000
3,0,900,3.0,2,2,2.0,2,3,6.16,2,100.0,1.34,31.46,1.500000
4,1,2238,14.0,6,0,0.0,1,0,5.46,2,116.0,4.77,93.70,2.333333
5,4,1185,3.0,3,2,0.0,1,3,5.69,2,91.0,4.49,82.94,1.000000

In [49]:
house_test.head()

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,0x6e93,0,293,3.0,1,2,0.0,1,3,7.28,2,152.0,2.52
1,0x8787,0,586,4.0,1,1,0.0,1,2,7.63,2,92.0,4.16
2,0x6c17,2,305,1.0,2,1,1.0,1,0,5.39,2,90.0,2.92
3,0x9dbd,0,258,2.0,1,1,1.0,1,0,7.53,2,158.0,3.45
4,0xbfde,1,3031,12.0,4,0,0.0,1,0,8.79,0,186.0,2.72

# Splitting

In [50]:
train_data, test_data = train_test_split(house_data, test_size=0.2, random_state=100)

# Training

In [51]:
# change here when testing and final submission
X = train_data[['Property_Area', 'Number_of_Windows','Number_of_Doors', 'Furnishing', 'Frequency_of_Powercuts','Power_Backup', 'Water_Supply', 'Traffic_Density_Score','Dust_and_Noise', 'Air_Quality_Index', 'Neighborhood_Review']]
Y = train_data[['Habitability_score']]

In [52]:
x = test_data[['Property_Area', 'Number_of_Windows',
       'Number_of_Doors', 'Furnishing', 'Frequency_of_Powercuts',
       'Power_Backup', 'Water_Supply', 'Traffic_Density_Score',
       'Dust_and_Noise', 'Air_Quality_Index', 'Neighborhood_Review']]
y=test_data[['Habitability_score']]

In [53]:
e = y.loc[y.index].values.reshape(-1).tolist()

In [54]:
x_ids = house_test[['Property_ID']]

In [55]:
x_test = house_test[['Property_Area', 'Number_of_Windows',
       'Number_of_Doors', 'Furnishing', 'Frequency_of_Powercuts',
       'Power_Backup', 'Water_Supply', 'Traffic_Density_Score',
       'Dust_and_Noise', 'Air_Quality_Index', 'Neighborhood_Review']]
x_test=x_test.loc[x_test.index].values.tolist()

In [56]:
from sklearn.metrics import r2_score

In [57]:
xgb_model = xgb.XGBRegressor(colsample_bytree=0.4603, gamma=0.0468, 
                             learning_rate=0.05, max_depth=3, 
                             min_child_weight=1.7817, n_estimators=2200,
                             reg_alpha=0.4640, reg_lambda=0.8571,
                             subsample=0.5213, silent=1,
                             random_state =7, nthread = -1)

In [58]:
xgb_model.fit(X.loc[X.index].values.tolist(), Y.loc[Y.index].values.reshape(-1).tolist())

[05:04:09] WARNING: D:\bld\xgboost-split_1660208973102\work\src\learner.cc:627:
Parameters: { "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=0.4603,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0.0468, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.05, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=3, max_leaves=0,
             min_child_weight=1.7817, missing=nan, monotone_constraints='()',
             n_estimators=2200, n_jobs=-1, nthread=-1, num_parallel_tree=1,
             predictor='auto', random_state=7, reg_alpha=0.464, ...)

In [61]:
# prediction = xgb_model.predict(x_test)
p = xgb_model.predict(x.loc[x.index].values.tolist())

In [62]:
r2_score(e, p)

0.7785014063169391

In [63]:
x_test_xgb=house_test[['Property_ID']]

In [64]:
x_test_xgb['Habitability_score']=prediction

NameError: name 'prediction' is not defined

In [65]:
x_test_xgb.to_csv('result_xgb.csv', index=False)

# Gradient boost

In [66]:
from sklearn.ensemble import GradientBoostingRegressor

In [67]:
gd_model = GradientBoostingRegressor(n_estimators=200, max_depth=10, loss='ls')

In [68]:
gd_model.fit(X.loc[X.index].values.tolist(), Y.loc[Y.index].values.reshape(-1).tolist())

GradientBoostingRegressor(max_depth=10, n_estimators=200)

In [69]:
p=gd_model.predict(x.loc[x.index].values.tolist())

In [70]:
r2_score(e, p)

0.8355481586494751

In [71]:
p=gd_model.predict(x_test)

In [72]:
p

array([29.32432807, 80.44882558, 67.34393603, ..., 74.05778012,
       78.8410196 , 80.56918657])

# Evaluation random forest

In [73]:
from sklearn.metrics import r2_score

In [74]:
forest_model = RandomForestRegressor(max_depth=10, n_estimators=200)

In [75]:
forest_model.fit(X.loc[X.index].values.tolist(), Y.loc[Y.index].values.reshape(-1).tolist())

RandomForestRegressor(max_depth=10, n_estimators=200)

In [76]:
p = forest_model.predict(x.loc[x.index].values.tolist())

In [77]:
r2_score(e, p)

0.8391079055384414


# CSV output

In [78]:
prediction = forest_model.predict(x_test)

In [79]:
x_ids['Habitability_score']=prediction

C:\Users\stard\AppData\Local\Temp/ipykernel_5752/3109291245.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_ids['Habitability_score']=prediction

In [ ]:
x_ids.to_csv('result.csv', index=False)