In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn import preprocessing

path = './dataset/train.csv'
house_data = pd.read_csv(path)

In [39]:
import xgboost as xgb

In [40]:
xgb_model = xgb.XGBRegressor()

In [41]:
xgb_model.fit(X.loc[X.index].values.tolist(), Y.loc[Y.index].values.reshape(-1).tolist())

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [42]:
p = xgb_model.predict(x.loc[x.index].values.tolist())

In [43]:
p

array([77.46059 , 35.399414, 73.62765 , ..., 77.726814, 80.1782  ,
       77.170456], dtype=float32)

In [44]:
r2_score(e, p)

0.8203647772490287

In [45]:
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor

In [46]:
model_neural_net = MLPRegressor(activation='relu', hidden_layer_sizes=(13, 150, 40, 100))

In [47]:
model_neural_net.fit(X.loc[X.index].values.tolist(), Y.loc[Y.index].values.reshape(-1).tolist())

MLPRegressor(hidden_layer_sizes=(13, 150, 40, 100))

In [48]:
p = model_neural_net.predict(x.loc[x.index].values.tolist())

In [49]:
p

array([82.89727954, 51.8022451 , 70.23002712, ..., 73.9522153 ,
       74.82913963, 81.65281775])

In [50]:
r2_score(e, p)

0.6139155345577569

In [51]:
scores=[]

In [182]:
path_test = './dataset/test.csv'
path_train = './dataset/train.csv'
house_test = pd.read_csv(path_test)
house_train = pd.read_csv(path_train)

In [183]:
house_test.isna().sum()

Property_ID                 0
Property_Type               0
Property_Area               0
Number_of_Windows         445
Number_of_Doors             0
Furnishing                257
Frequency_of_Powercuts    366
Power_Backup                0
Water_Supply                0
Traffic_Density_Score       0
Crime_Rate                212
Dust_and_Noise            330
Air_Quality_Index           0
Neighborhood_Review         0
dtype: int64

In [184]:
house_train.isna().sum()

Property_ID                  0
Property_Type                0
Property_Area                0
Number_of_Windows         1654
Number_of_Doors              0
Furnishing                1042
Frequency_of_Powercuts    1383
Power_Backup                 0
Water_Supply                 0
Traffic_Density_Score        0
Crime_Rate                 787
Dust_and_Noise            1219
Air_Quality_Index            0
Neighborhood_Review          0
Habitability_score           0
dtype: int64

In [185]:
house_train = house_data.dropna()

In [186]:
house_test['Property_Type'].unique()

array(['Apartment', 'Container Home', 'Bungalow', 'Single-family home',
       'Duplex', '#R%$G&867'], dtype=object)

In [187]:
house_test['Property_Type'] = house_test['Property_Type'].replace('#R%$G&867', 'Apartment')
house_train['Property_Type'] = house_train['Property_Type'].replace('#R%$G&867', 'Apartment')

In [188]:
house_test['Property_Type'].unique()

array(['Apartment', 'Container Home', 'Bungalow', 'Single-family home',
       'Duplex'], dtype=object)

In [189]:
house_test.groupby(['Property_Type'])['Number_of_Windows'].describe()

                     count      mean       std  min  25%  50%   75%   max
Property_Type
Apartment           3823.0  2.524457  1.216004  0.0  1.0  2.0   4.0  14.0
Bungalow            1061.0  9.403393  3.465102  4.0  6.0  9.0  12.0  15.0
Container Home       746.0  1.583110  1.098716  0.0  1.0  2.0   3.0   3.0
Duplex              1454.0  5.577029  1.112673  4.0  5.0  6.0   7.0   7.0
Single-family home  2971.0  3.457422  1.106967  2.0  2.0  3.0   4.0   5.0

In [190]:
releIndex = house_test[(house_test['Number_of_Windows'].isna()) & (house_test['Property_Type'] == 'Apartment')].index
house_test.loc[releIndex,['Number_of_Windows']] = 2.0

In [191]:
releIndex = house_test[(house_test['Number_of_Windows'].isna()) & (house_test['Property_Type'] == 'Bungalow')].index
house_test.loc[releIndex,['Number_of_Windows']] = 9.0

In [192]:
releIndex = house_test[(house_test['Number_of_Windows'].isna()) & (house_test['Property_Type'] == 'Container Home')].index
house_test.loc[releIndex,['Number_of_Windows']] = 2.0

In [193]:
releIndex = house_test[(house_test['Number_of_Windows'].isna()) & (house_test['Property_Type'] == 'Duplex')].index
house_test.loc[releIndex,['Number_of_Windows']] = 6.0

In [194]:
releIndex = house_test[(house_test['Number_of_Windows'].isna()) & (house_test['Property_Type'] == 'Single-family home')].index
house_test.loc[releIndex,['Number_of_Windows']] = 3.0

In [195]:
house_test['Furnishing'] = house_test['Furnishing'].fillna('Semi_Furnished')

In [196]:
house_test['Frequency_of_Powercuts'] = house_test['Frequency_of_Powercuts'].fillna(0.000000)

In [198]:
house_test.groupby(['Crime_Rate'])['Neighborhood_Review'].describe()

,count,mean,std,min,25%,50%,75%,max
Crime_Rate,,,,,,,,
Slightly above average,1421.0,2.954799,0.547597,0.71,2.6600,2.93,3.46,3.74
Slightly below average,3032.0,3.606705,0.548118,1.34,3.3875,3.59,4.13,4.37
Well above average,646.0,2.314133,0.539267,0.02,2.1025,2.29,2.82,3.11
Well below average,5189.0,4.195490,0.563830,1.89,3.8600,4.18,4.72,5.00

In [ ]:
releIndex = house_test[(house_test['Crime_Rate'].isna()) & (house_test['Neighborhood_Review'] == 'Apartment')].index
house_test.loc[releIndex,['Number_of_Windows']] = 2.0