In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb
from sklearn import preprocessing

path_train = './dataset/train.csv'
path_test = './dataset/test.csv'
house_data = pd.read_csv(path_train)
house_test = pd.read_csv(path_test)

In [2]:
house_data.head()

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score
0,0x21e3,Apartment,106,NaN,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86,71.98
1,0x68d4,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55,71.20
2,0x7d81,Apartment,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81,71.39
3,0x7a57,Apartment,900,3.0,2,Unfurnished,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,100.0,1.34,31.46
4,0x9409,Bungalow,2238,14.0,6,Fully Furnished,0.0,No,All time,5.46,Well below average,Medium,116.0,4.77,93.70

In [3]:
house_test.head()

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,0x6e93,Apartment,293,3.0,1,Unfurnished,0.0,No,Once in a day - Morning,7.28,Well above average,Medium,152.0,2.52
1,0x8787,Apartment,586,4.0,1,Semi_Furnished,0.0,No,Once in a day - Evening,7.63,Well below average,Medium,92.0,4.16
2,0x6c17,Container Home,305,1.0,2,Semi_Furnished,1.0,No,All time,5.39,Slightly above average,Medium,90.0,2.92
3,0x9dbd,Apartment,258,2.0,1,Semi_Furnished,1.0,No,All time,7.53,Slightly below average,Medium,158.0,3.45
4,0xbfde,Bungalow,3031,12.0,4,Fully Furnished,0.0,No,All time,8.79,Well above average,High,186.0,2.72

In [4]:
house_data.describe()

,Property_Area,Number_of_Windows,Number_of_Doors,Frequency_of_Powercuts,Traffic_Density_Score,Air_Quality_Index,Neighborhood_Review,Habitability_score
count,39499.000000,37845.000000,39499.000000,38116.000000,39499.000000,39499.000000,39499.000000,39499.000000
mean,1391.715638,3.923768,2.331375,0.484678,6.354772,121.352566,3.735945,73.482297
std,1953.287544,2.690992,1.179964,0.752207,1.219681,62.384669,0.796843,14.118753
min,100.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,7.280000
25%,494.000000,2.000000,1.000000,0.000000,5.600000,95.000000,3.220000,69.660000
50%,932.000000,4.000000,2.000000,0.000000,6.470000,113.000000,3.850000,75.760000
75%,1770.000000,5.000000,3.000000,1.000000,7.220000,140.000000,4.260000,82.260000
max,28064.000000,15.000000,6.000000,3.000000,9.910000,1044.000000,5.000000,100.000000

In [5]:
house_test.describe()

,Property_Area,Number_of_Windows,Number_of_Doors,Frequency_of_Powercuts,Traffic_Density_Score,Air_Quality_Index,Neighborhood_Review
count,10500.000000,10055.000000,10500.000000,10134.000000,10500.000000,10500.000000,10500.000000
mean,1364.333333,3.897563,2.326571,0.484409,6.361525,120.532571,3.734125
std,1813.702032,2.690162,1.175324,0.749686,1.216237,55.635990,0.793325
min,100.000000,0.000000,1.000000,0.000000,0.020000,0.000000,0.020000
25%,505.000000,2.000000,1.000000,0.000000,5.620000,95.000000,3.230000
50%,935.500000,3.000000,2.000000,0.000000,6.470000,113.000000,3.850000
75%,1758.000000,5.000000,3.000000,1.000000,7.220000,140.000000,4.220000
max,27477.000000,15.000000,6.000000,3.000000,9.430000,1031.000000,5.000000

In [6]:
house_data.isna().sum()

Property_ID                  0
Property_Type                0
Property_Area                0
Number_of_Windows         1654
Number_of_Doors              0
Furnishing                1042
Frequency_of_Powercuts    1383
Power_Backup                 0
Water_Supply                 0
Traffic_Density_Score        0
Crime_Rate                 787
Dust_and_Noise            1219
Air_Quality_Index            0
Neighborhood_Review          0
Habitability_score           0
dtype: int64

In [7]:
house_test.isna().sum()

Property_ID                 0
Property_Type               0
Property_Area               0
Number_of_Windows         445
Number_of_Doors             0
Furnishing                257
Frequency_of_Powercuts    366
Power_Backup                0
Water_Supply                0
Traffic_Density_Score       0
Crime_Rate                212
Dust_and_Noise            330
Air_Quality_Index           0
Neighborhood_Review         0
dtype: int64

In [8]:
house_data = house_data.dropna()

In [9]:
house_data.isna().sum()

Property_ID               0
Property_Type             0
Property_Area             0
Number_of_Windows         0
Number_of_Doors           0
Furnishing                0
Frequency_of_Powercuts    0
Power_Backup              0
Water_Supply              0
Traffic_Density_Score     0
Crime_Rate                0
Dust_and_Noise            0
Air_Quality_Index         0
Neighborhood_Review       0
Habitability_score        0
dtype: int64

In [10]:
house_data['Air_Quality_Index'].mask(house_data['Air_Quality_Index'] > 500, 113.000000, inplace=True)

In [11]:
house_test['Air_Quality_Index'].mask(house_test['Air_Quality_Index'] > 500, 113.000000, inplace=True)

In [12]:
house_data['Property_Type'] = house_data['Property_Type'].replace('#R%$G&867', 'Apartment')
house_test['Property_Type'] = house_test['Property_Type'].replace('#R%$G&867', 'Apartment')

In [13]:
house_test.groupby(['Property_Type'])['Number_of_Windows'].describe()

                     count      mean       std  min  25%  50%   75%   max
Property_Type
Apartment           3823.0  2.524457  1.216004  0.0  1.0  2.0   4.0  14.0
Bungalow            1061.0  9.403393  3.465102  4.0  6.0  9.0  12.0  15.0
Container Home       746.0  1.583110  1.098716  0.0  1.0  2.0   3.0   3.0
Duplex              1454.0  5.577029  1.112673  4.0  5.0  6.0   7.0   7.0
Single-family home  2971.0  3.457422  1.106967  2.0  2.0  3.0   4.0   5.0

In [14]:
releIndex = house_test[(house_test['Number_of_Windows'].isna()) & (house_test['Property_Type'] == 'Apartment')].index
house_test.loc[releIndex,['Number_of_Windows']] = 2.0

In [15]:
releIndex = house_test[(house_test['Number_of_Windows'].isna()) & (house_test['Property_Type'] == 'Bungalow')].index
house_test.loc[releIndex,['Number_of_Windows']] = 9.0

In [16]:
releIndex = house_test[(house_test['Number_of_Windows'].isna()) & (house_test['Property_Type'] == 'Container Home')].index
house_test.loc[releIndex,['Number_of_Windows']] = 2.0

In [17]:
releIndex = house_test[(house_test['Number_of_Windows'].isna()) & (house_test['Property_Type'] == 'Duplex')].index
house_test.loc[releIndex,['Number_of_Windows']] = 6.0

In [18]:
releIndex = house_test[(house_test['Number_of_Windows'].isna()) & (house_test['Property_Type'] == 'Single-family home')].index
house_test.loc[releIndex,['Number_of_Windows']] = 3.0

In [19]:
house_test['Furnishing'] = house_test['Furnishing'].fillna('Semi_Furnished')

In [20]:
house_test['Frequency_of_Powercuts'] = house_test['Frequency_of_Powercuts'].fillna(0.000000)

In [21]:
house_test.groupby(['Crime_Rate'])['Neighborhood_Review'].describe()

,count,mean,std,min,25%,50%,75%,max
Crime_Rate,,,,,,,,
Slightly above average,1421.0,2.954799,0.547597,0.71,2.6600,2.93,3.46,3.74
Slightly below average,3032.0,3.606705,0.548118,1.34,3.3875,3.59,4.13,4.37
Well above average,646.0,2.314133,0.539267,0.02,2.1025,2.29,2.82,3.11
Well below average,5189.0,4.195490,0.563830,1.89,3.8600,4.18,4.72,5.00

In [22]:
releIndex = house_test[(house_test['Crime_Rate'].isna()) & (house_test['Neighborhood_Review'] >= 3.885)].index
house_test.loc[releIndex,['Crime_Rate']] = 'Well below average'

In [23]:
releIndex = house_test[(house_test['Crime_Rate'].isna()) & (house_test['Neighborhood_Review'] < 3.885) & (house_test['Neighborhood_Review'] >= 3.26)].index
house_test.loc[releIndex, ['Crime_Rate']] = 'Slightly below average'

In [24]:
releIndex = house_test[(house_test['Crime_Rate'].isna()) & (house_test['Neighborhood_Review'] < 3.26) & (house_test['Neighborhood_Review'] >= 2.61)].index
house_test.loc[releIndex, ['Crime_Rate']] = 'Slightly above average'

In [25]:
releIndex = house_test[(house_test['Crime_Rate'].isna()) & (house_test['Neighborhood_Review'] < 2.61)].index
house_test.loc[releIndex, ['Crime_Rate']] = 'Well above average'

In [26]:
house_test['Dust_and_Noise'] = house_test['Dust_and_Noise'].fillna('Medium')

In [27]:
house_test.isna().sum()

Property_ID               0
Property_Type             0
Property_Area             0
Number_of_Windows         0
Number_of_Doors           0
Furnishing                0
Frequency_of_Powercuts    0
Power_Backup              0
Water_Supply              0
Traffic_Density_Score     0
Crime_Rate                0
Dust_and_Noise            0
Air_Quality_Index         0
Neighborhood_Review       0
dtype: int64

# Encoding and deleting

In [28]:
house_data.columns

Index(['Property_ID', 'Property_Type', 'Property_Area', 'Number_of_Windows',
       'Number_of_Doors', 'Furnishing', 'Frequency_of_Powercuts',
       'Power_Backup', 'Water_Supply', 'Traffic_Density_Score', 'Crime_Rate',
       'Dust_and_Noise', 'Air_Quality_Index', 'Neighborhood_Review',
       'Habitability_score'],
      dtype='object')

In [29]:
house_test.columns

Index(['Property_ID', 'Property_Type', 'Property_Area', 'Number_of_Windows',
       'Number_of_Doors', 'Furnishing', 'Frequency_of_Powercuts',
       'Power_Backup', 'Water_Supply', 'Traffic_Density_Score', 'Crime_Rate',
       'Dust_and_Noise', 'Air_Quality_Index', 'Neighborhood_Review'],
      dtype='object')

In [30]:
del house_data['Property_ID']

In [31]:
house_data.columns

Index(['Property_Type', 'Property_Area', 'Number_of_Windows',
       'Number_of_Doors', 'Furnishing', 'Frequency_of_Powercuts',
       'Power_Backup', 'Water_Supply', 'Traffic_Density_Score', 'Crime_Rate',
       'Dust_and_Noise', 'Air_Quality_Index', 'Neighborhood_Review',
       'Habitability_score'],
      dtype='object')

In [32]:
le = preprocessing.LabelEncoder()

In [33]:
le.fit(house_data['Property_Type'])
house_data['Property_Type']=le.transform(house_data['Property_Type'])
house_test['Property_Type']=le.transform(house_test['Property_Type'])

In [34]:
le.fit(house_data['Furnishing'])
house_data['Furnishing']=le.transform(house_data['Furnishing'])
house_test['Furnishing']=le.transform(house_test['Furnishing'])

In [35]:
le.fit(house_data['Power_Backup'])
house_data['Power_Backup']=le.transform(house_data['Power_Backup'])
house_test['Power_Backup']=le.transform(house_test['Power_Backup'])

In [36]:
le.fit(house_data['Water_Supply'])
house_data['Water_Supply']=le.transform(house_data['Water_Supply'])
house_test['Water_Supply']=le.transform(house_test['Water_Supply'])

In [37]:
le.fit(house_data['Crime_Rate'])
house_data['Crime_Rate']=le.transform(house_data['Crime_Rate'])
house_test['Crime_Rate']=le.transform(house_test['Crime_Rate'])

In [38]:
le.fit(house_data['Dust_and_Noise'])
house_data['Dust_and_Noise']=le.transform(house_data['Dust_and_Noise'])
house_test['Dust_and_Noise']=le.transform(house_test['Dust_and_Noise'])

# Review

In [39]:
house_data.head()

,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score
1,0,733,2.0,2,2,1.0,1,2,4.37,3,2,96.0,3.55,71.20
2,0,737,4.0,2,0,0.0,1,3,7.45,1,2,121.0,3.81,71.39
3,0,900,3.0,2,2,2.0,2,3,6.16,2,2,100.0,1.34,31.46
4,1,2238,14.0,6,0,0.0,1,0,5.46,3,2,116.0,4.77,93.70
5,4,1185,3.0,3,2,0.0,1,3,5.69,3,2,91.0,4.49,82.94

In [40]:
house_test.head()

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,0x6e93,0,293,3.0,1,2,0.0,1,3,7.28,2,2,152.0,2.52
1,0x8787,0,586,4.0,1,1,0.0,1,2,7.63,3,2,92.0,4.16
2,0x6c17,2,305,1.0,2,1,1.0,1,0,5.39,0,2,90.0,2.92
3,0x9dbd,0,258,2.0,1,1,1.0,1,0,7.53,1,2,158.0,3.45
4,0xbfde,1,3031,12.0,4,0,0.0,1,0,8.79,2,0,186.0,2.72

# Splitting

In [53]:
train_data, test_data = train_test_split(house_data, test_size=0.15, random_state=10)

# Training

In [97]:
# change here when testing and final submission
X = train_data[['Property_Area','Property_Type', 'Number_of_Windows','Number_of_Doors', 'Furnishing', 'Frequency_of_Powercuts','Power_Backup', 'Water_Supply', 'Traffic_Density_Score', 'Crime_Rate','Dust_and_Noise', 'Air_Quality_Index', 'Neighborhood_Review']]
Y = train_data[['Habitability_score']]

In [95]:
forest_model = RandomForestRegressor()

In [78]:
forest_model.fit(X.loc[X.index].values.tolist(), Y.loc[Y.index].values.reshape(-1).tolist())

RandomForestRegressor(max_depth=15)

In [79]:
x = test_data[['Property_Area','Property_Type', 'Number_of_Windows',
       'Number_of_Doors', 'Furnishing', 'Frequency_of_Powercuts',
       'Power_Backup', 'Water_Supply', 'Traffic_Density_Score', 'Crime_Rate',
       'Dust_and_Noise', 'Air_Quality_Index', 'Neighborhood_Review']]
y=test_data[['Habitability_score']]

In [80]:
e = y.loc[y.index].values.reshape(-1).tolist()

In [81]:
p=forest_model.predict(x.loc[x.index].values.tolist())

# Evaluation random forest

In [82]:
from sklearn.metrics import r2_score

In [83]:
r2_score(e, p)

0.8412133722159868

# Optimization

In [92]:
n_estimators = [int(x) for x in np.linspace(start=80, stop=150, num=7)]

max_features = ['auto', 'sqrt']

max_depth = [10,12,15,17,20,23,25,27]

min_samples_split = [2,4,7,10]

min_samples_leaf=[1,2]

bootstrap = [True, False]

In [93]:
param_grid = {
    'n_estimators':n_estimators,
    'max_features':max_features,
    'max_depth':max_depth,
    'min_samples_leaf':min_samples_leaf,
    'min_samples_split':min_samples_split,
    'bootstrap':bootstrap
}

In [94]:
param_grid

{'n_estimators': [80, 91, 103, 115, 126, 138, 150],
 'max_features': ['auto', 'sqrt'],
 'max_depth': [10, 12, 15, 17, 20, 23, 25, 27],
 'min_samples_leaf': [1, 2],
 'min_samples_split': [2, 4, 7, 10],
 'bootstrap': [True, False]}

In [96]:
from sklearn.model_selection import GridSearchCV
rf_opt = GridSearchCV(estimator=forest_model, param_grid=param_grid,cv=2, verbose=2, n_jobs=4)

In [ ]:
rf_opt.fit(X.loc[X.index].values.tolist(), Y.loc[Y.index].values.reshape(-1).tolist())

Fitting 2 folds for each of 1792 candidates, totalling 3584 fits

In [63]:
x_ids = house_test[['Property_ID']]

In [64]:
x_test = house_test[['Property_Area','Property_Type', 'Number_of_Windows',
       'Number_of_Doors', 'Furnishing', 'Frequency_of_Powercuts',
       'Power_Backup', 'Water_Supply', 'Traffic_Density_Score', 'Crime_Rate',
       'Dust_and_Noise', 'Air_Quality_Index', 'Neighborhood_Review']]
x_test=x_test.loc[x_test.index].values.tolist()

In [65]:
prediction = forest_model.predict(x_test)

In [67]:
prediction.shape

(10500,)

In [69]:
x_ids.shape

(10500, 1)

In [70]:
x_ids['Habitability_score']=prediction

C:\Users\stard\AppData\Local\Temp/ipykernel_10964/3109291245.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_ids['Habitability_score']=prediction

In [73]:
x_ids.to_csv('result.csv', index=False)

In [74]:
xgb_model = xgb.XGBRegressor()

In [81]:
xgb_model.fit(X.loc[X.index].values.tolist(), Y.loc[Y.index].values.reshape(-1).tolist())

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [83]:
prediction = xgb_model.predict(x_test)

In [84]:
x_test_xgb=house_test[['Property_ID']]

In [86]:
x_test_xgb['Habitability_score']=prediction

C:\Users\stard\AppData\Local\Temp/ipykernel_10964/445806896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test_xgb['Habitability_score']=prediction

In [88]:
x_test_xgb.to_csv('result_xgb.csv', index=False)

In [79]:
p

array([77.46059 , 35.399414, 73.62765 , ..., 77.726814, 80.1782  ,
       77.170456], dtype=float32)

In [78]:
r2_score(e, p)

0.8203647772490287

In [45]:
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor

In [46]:
model_neural_net = MLPRegressor(activation='relu', hidden_layer_sizes=(13, 150, 40, 100))

In [47]:
model_neural_net.fit(X.loc[X.index].values.tolist(), Y.loc[Y.index].values.reshape(-1).tolist())

MLPRegressor(hidden_layer_sizes=(13, 150, 40, 100))

In [48]:
p = model_neural_net.predict(x.loc[x.index].values.tolist())

In [49]:
p

array([82.89727954, 51.8022451 , 70.23002712, ..., 73.9522153 ,
       74.82913963, 81.65281775])

In [50]:
r2_score(e, p)

0.6139155345577569

In [51]:
scores=[]

In [182]:
path_test = './dataset/test.csv'
path_train = './dataset/train.csv'
house_test = pd.read_csv(path_test)
house_train = pd.read_csv(path_train)

In [183]:
house_test.isna().sum()

Property_ID                 0
Property_Type               0
Property_Area               0
Number_of_Windows         445
Number_of_Doors             0
Furnishing                257
Frequency_of_Powercuts    366
Power_Backup                0
Water_Supply                0
Traffic_Density_Score       0
Crime_Rate                212
Dust_and_Noise            330
Air_Quality_Index           0
Neighborhood_Review         0
dtype: int64

In [184]:
house_train.isna().sum()

Property_ID                  0
Property_Type                0
Property_Area                0
Number_of_Windows         1654
Number_of_Doors              0
Furnishing                1042
Frequency_of_Powercuts    1383
Power_Backup                 0
Water_Supply                 0
Traffic_Density_Score        0
Crime_Rate                 787
Dust_and_Noise            1219
Air_Quality_Index            0
Neighborhood_Review          0
Habitability_score           0
dtype: int64

In [185]:
house_train = house_data.dropna()

In [186]:
house_test['Property_Type'].unique()

array(['Apartment', 'Container Home', 'Bungalow', 'Single-family home',
       'Duplex', '#R%$G&867'], dtype=object)

In [187]:
house_test['Property_Type'] = house_test['Property_Type'].replace('#R%$G&867', 'Apartment')
house_train['Property_Type'] = house_train['Property_Type'].replace('#R%$G&867', 'Apartment')

In [188]:
house_test['Property_Type'].unique()

array(['Apartment', 'Container Home', 'Bungalow', 'Single-family home',
       'Duplex'], dtype=object)

In [189]:
house_test.groupby(['Property_Type'])['Number_of_Windows'].describe()

                     count      mean       std  min  25%  50%   75%   max
Property_Type
Apartment           3823.0  2.524457  1.216004  0.0  1.0  2.0   4.0  14.0
Bungalow            1061.0  9.403393  3.465102  4.0  6.0  9.0  12.0  15.0
Container Home       746.0  1.583110  1.098716  0.0  1.0  2.0   3.0   3.0
Duplex              1454.0  5.577029  1.112673  4.0  5.0  6.0   7.0   7.0
Single-family home  2971.0  3.457422  1.106967  2.0  2.0  3.0   4.0   5.0

In [190]:
releIndex = house_test[(house_test['Number_of_Windows'].isna()) & (house_test['Property_Type'] == 'Apartment')].index
house_test.loc[releIndex,['Number_of_Windows']] = 2.0

In [191]:
releIndex = house_test[(house_test['Number_of_Windows'].isna()) & (house_test['Property_Type'] == 'Bungalow')].index
house_test.loc[releIndex,['Number_of_Windows']] = 9.0

In [192]:
releIndex = house_test[(house_test['Number_of_Windows'].isna()) & (house_test['Property_Type'] == 'Container Home')].index
house_test.loc[releIndex,['Number_of_Windows']] = 2.0

In [193]:
releIndex = house_test[(house_test['Number_of_Windows'].isna()) & (house_test['Property_Type'] == 'Duplex')].index
house_test.loc[releIndex,['Number_of_Windows']] = 6.0

In [194]:
releIndex = house_test[(house_test['Number_of_Windows'].isna()) & (house_test['Property_Type'] == 'Single-family home')].index
house_test.loc[releIndex,['Number_of_Windows']] = 3.0

In [195]:
house_test['Furnishing'] = house_test['Furnishing'].fillna('Semi_Furnished')

In [196]:
house_test['Frequency_of_Powercuts'] = house_test['Frequency_of_Powercuts'].fillna(0.000000)

In [198]:
house_test.groupby(['Crime_Rate'])['Neighborhood_Review'].describe()

,count,mean,std,min,25%,50%,75%,max
Crime_Rate,,,,,,,,
Slightly above average,1421.0,2.954799,0.547597,0.71,2.6600,2.93,3.46,3.74
Slightly below average,3032.0,3.606705,0.548118,1.34,3.3875,3.59,4.13,4.37
Well above average,646.0,2.314133,0.539267,0.02,2.1025,2.29,2.82,3.11
Well below average,5189.0,4.195490,0.563830,1.89,3.8600,4.18,4.72,5.00

In [ ]:
releIndex = house_test[(house_test['Crime_Rate'].isna()) & (house_test['Neighborhood_Review'] == 'Apartment')].index
house_test.loc[releIndex,['Number_of_Windows']] = 2.0